/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    
}

body {
    font-family:"Open Sans", "Arial", sans-serif;
}

a {
    text-decoration:none;
    color:#367bd1;
}

a:visited{
    color:#367bd1;
}

h1, h2{
    color:#367bd1;
    text-shadow: 1px 1px 8px #ddd;
    line-height:1em;
    font-size:2.5em;
}

section{
    height:100%;
   
    border-bottom:1px solid #ddd;
    position:relative;
    overflow-x:hidden;
}

.active{
    color:#f9f9f9 !important;
}

.sqs-container{
    height:100% !important;
}

#home:before, #about:before, #projects:before, #posts:before, #contact:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

#home-wrap, #about-wrap, #projects-wrap, #posts-wrap, #contact-wrap{
    text-align:center;
    display:inline-block;
    vertical-align:middle;
    width:100%;

}

/* ============
   Home & About Sections
   ============ */


#home-intro, #home-image{
    text-align:left;
    display:inline-block;
    vertical-align:middle;
    width:45%; 
}

#home-intro p{
    font-size:1.25em;
    line-height:1.75em;
}

#home-intro h1, #about-details h2{
    text-align:center;
    padding-bottom:5%;
}


#home-image img{
    display:block;
    vertical-align:middle;
    max-width:80%;
    min-width:300px;
    margin:auto;
}

#about-details{
    max-width:40em;
    text-align:left;
    display:inline-block;
}

#about-details p{
    font-size:1.2em;
    line-height:1.6em;
}

/* ============
   Projects
   ============ */

.project-header {
    margin-bottom:5%;
    text-align:center;
}

#projects ul{
    padding:0;
    list-style-type:none; 
    position:relative;
}

.project-title h3{
    font-size:1.5em;
    text-align:center;
}

.project-tags{
    padding-top:1em;
    font-size:.9em;
}

.project-tag{
    border:1px solid #ddd;
    display:inline-block;
    padding:.2em .6em;
    margin:0 .6em .6em 0;
    background-color:#367bd1;
    color:#f9f9f9;
}

.project-details{
    display:inline-block;
    vertical-align:top;
    width:25%; 
    padding:0 5% 0 5%;
 
}

.project-image{
    display:inline-block;
    width:50%;
    margin:auto;
    vertical-align:top;
}

.project-image img{
    width:100%;
    height:auto;
}

#slider {
    width:100%;
}

#slider li{
    float:left;
}

#slider-controls{
   position:absolute;
   top:50%;
   width:100%; 
}

#slider-prev{
    float:left;
    padding-left:1%;
    opacity:.3;
}

#slider-prev:hover, #slider-next:hover{
    opacity:.8;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#slider-next{
    float:right;
    padding-right:1%;
    opacity:.3;
    
}



/* ============
   Posts Section
   ============ */

#posts{
    width:100%;
    background-color:#f9f9f9;
}

#post-list h2{
    margin-bottom:5%;
    text-align:center; 
}

#posts ul{
    padding:0 0 0 0;

}

.post-item {
    list-style-type:none;
    font-size:1.5em;
    line-height:2em; 
}

.post-item a {
    text-decoration:none;
}

.post-date{
    float:right;
    font-size:.7em;
    color:#777;
}

#post-list{
    width:70%;
    text-align:left;
    display:inline-block;
}

/* ============
   Individual Post
   ============ */

#post-wrap{
    background-color:#f9f9f9;
    width:100%;
    float:left;
}

#post-container {
    max-width:50em;
    margin:auto;
    padding:5%;
    height:100%;
}

#post-content p{
    font-size: 1.1em;
    line-height: 2em;
    color:#555;
}

#post-container h1, #post-content h2{
    text-align:center;
    color:#444;
    margin:5% 0 10% 0;
}

#post-content img{
   height: auto;
   max-width:90%;
   display:block;
   margin:5% auto; 
   border:1px solid #ccc;
   box-shadow: 0 4px 10px 2px #ccc;
   -webkit-box-shadow:0 4px 10px 2px #ccc;
   -moz-box-shadow:0 4px 10px 2px #ccc;
}

#post-content h2{
    text-align:center;
    color:#444;
    font-size:1.5em;
    margin:5% 0;
}

#post-content table{
    width:100%;
    border:1px solid #ccc;
    box-shadow: 0 4px 10px 2px #ccc;
    -webkit-box-shadow:0 4px 10px 2px #ccc;
    -moz-box-shadow:0 4px 10px 2px #ccc;
    background-color:#fff;
    margin:5% auto;
}

#post-content td{
    padding:0em 1em;
}

.fc-table-header{
    border-bottom:1px solid #ccc;   
    font-weight:bold;
}

tr.first-row td {
    padding-top:.5em !important;
}

#post-nav{
    float:left;
    width:100%;
    padding: 5% 0 10% 0;
    font-size:1em;
}

#previous-post {
    display:inline-block;
    float:left;
}

#previous-post a, #next-post a{
    font-size:1.4em;
}

#next-post{
    display:inline-block;
    float:right;
}


/* ============
   Code
   ============ */

.highlight{
    line-height:1em;
    font-size:.75em;
    display: block;
    width: auto;
    overflow-x:auto;
    border:1px solid #ccc;
    margin:5% 0 5% 0;
    padding:1em 0 1em 0;
    box-shadow: 0 4px 10px 2px #ccc;
   -webkit-box-shadow:0 4px 10px 2px #ccc;
   -moz-box-shadow:0 4px 10px 2px #ccc;
   background-color:#fff;
   }

.highlight pre{
    white-space:pre !important;
    word-wrap:normal;
}


/* ============
   Sidebar
   ============ */ 

#post-header{
    width:100%;
    text-align:center;
    background-color:#2f4a70;
    color:#f9f9f9;
    border-bottom:1px solid #555;
    box-shadow:0px 2px 4px #aaa;
    -webkit-box-shadow: 0px 2px 4px #aaa;
    -moz-box-shadow:0px 2px 4px #aaa;
    letter-spacing:4px;
}

#site-title{
    font-family: "Arial", sans-serif;
    font-size:3em;
    text-shadow: 1px 1px 6px #000, 0px 0px 1px #fff;
    padding:.5em .25em;
    margin:0;
    line-height:1em;
    color: #385682; 
}

#site-title:hover{
    color:#f9f9f9;
}

/* ============
   Navigation
   ============ */ 

#home-nav{
    font-size:1.4em;
    text-align:center;
    clear:both;
    list-style-type: none;
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#2f4a70;
}

#home-nav ul{
    padding:0;
    margin:0;
   
}
#home-nav ul li{
    display:inline-block;
}

#home-nav ul li {
    text-decoration:none;
    padding:.5em .5em;
}

#home-nav ul li a{
    font-weight:bold;
    text-shadow: 1px 1px 6px #000;
    color:#517bb9;
}


#home-nav li a:hover{
    color:#f9f9f9;
    text-shadow: 1px 1px 4px #000;

}

#home-nav img{
    display:inline-block;
    margin-top:-4px;
}



/* ============
   Contact
   ============ */

#contact-wrap{
  text-align:center;
}

#contact { 
    
}

#contact a{
    font-size:1.25em;
    text-decoration:none;
}



 
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {
    h1{
        font-size:1.75em;
    }

    h2{
        font-size:1.75em;
    }
    #post-content h2{
        font-size:1.25em;
    }

    #home-intro, #about-details{
        display:block;
        width:auto;
        padding:5%;   
        max-width:40em;
        margin:auto;
    }

    #home-image{
        width:100%;
    }

    #home-image img{
        width:100%;
        max-width:300px;
        
    }

    #post-list{
        width:auto;
    }

    .project-details, .project-image{
        width:80%;
        margin:auto;
        padding:0;
        float:none;

    }

    .project {
        width:auto;
        margin:0;
        padding:0 5%;
    }

    #post-list{
        width:auto;
        padding:0 5%;
    }

    .post-date{
        display:none;
    }

    #home-nav{
        font-size:1.25em;
    }

    #home-nav ul li{
        padding:.25em;
    }
    section {
        padding:5% 0;
    }
    
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    
     h1{
        font-size:1.5em;
    }

    h2{
        font-size:1.5em;
    }

    #post-content h2{
        font-size:1.25em;
    }

    #home-intro p, #about-details p, .post-item, #contact a{
        font-size:1em;
    }

    #home-nav {
        display:none;
    }

    #post-container{
        width:auto;
        padding: 6% 5%;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}