  <div id = "post-header">
    <ul>
     <li class = "social"><% link_to 'https://github.com/AndrewHolsted/' do %> <%= image_tag 'github.png' %> <% end %>
      </li>
      <li> <h1><a href ="/">FajitaNachos</a></h1></li>
     <li class = "social"><% link_to 'https://twitter.com/FajitaNachos/' do %> <%= image_tag 'twitter.png' %> <% end %>
      </li>
    </ul>
</div>